.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f2f2f2; /* Fondo grisáceo */
}

.logo {
    width: 6%;
}

.menu-items {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu-items li {
    display: inline-block;
}

.menu-items a {
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu-items a:hover {
    background-color: #e5e5e5;
}

.menu-items a.active {
    background-color: #FFD700;
    color: black;
}

.menu-items li a.logout-btn {
    background-color: #e74c3c;
    color: white;
}

.menu-items li a.logout-btn:hover {
    background-color: #c0392b;
}
